#root {
  height: 100vh;
  background-image: url('public/black_wood.jpg');   
  overflow: auto; 
}

/* Toolbar styles */
.userIcon {
  width: 45px;
  height: 45px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Container Styles */
.container {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1000px;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}

.list-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.delete-button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* List and List Item Styles */
.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.list-item:hover .delete-button {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.list-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Editor Styles */
.editor-container {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;    
}

.textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input {
  font-size: 16px;
  padding: 5px 10px;
  border: #457b9d;
}

.toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  justify-content: center;
}

/* Collaboration Cursor Styles */
.collaboration-cursor__caret {
  height: 1.2em;
  background-color: var(--cursor-color);
  position: absolute;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.collaboration-cursor__label {
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--cursor-color);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  z-index: 11;
  pointer-events: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
}